<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="fix.css">
    </head>
    <body>
        <div class="container">

            <div class="header">
                <h1>Mahabharat</h1>
            </div>

            <div id="nav">
                <ul>
                    <li>  <a href="layOut.html"> Ramayan </a>  </li>
                    <li>  <a href=""> Mahabharata </a>  </li>
                    <li>  <a href=""> Bhagwad Geeta </a>  </li>
                    <li>  <a href=""> shiv Tandav </a>  </li>
                </ul>
            </div>

            <div class="sidebar">

            </div>


            <div class="main">
                <div class="box1">
                    <p class="center" ><a><img src="mahabharat.jpg" alt=""></a></p>
                    <p> The Pandavas return home and inform their meditating mother that Arjuna has won a competition and to look at what they have brought back. Without looking, Kunti asks them to share whatever Arjuna has won amongst themselves. Thus, Draupadi ends up being the wife of all five brothers.</p>
                </div>

                <div class="box2">
                    <h1>Details</h1>
                    <p> The Mahābhārata is the longest epic poem known and has been described as "the longest poem ever written".[9][10] Its longest version consists of over 100,000 śloka or over 200,000 individual verse lines (each shloka is a couplet), and long prose passages. At about 1.8 million words in total, the Mahābhārata is roughly ten times the length of the Iliad and the Odyssey combined, or about four times the length of the Rāmāyaṇa.</p>
                </div>

            </div>

        </div>
    </body>
</html>