<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="layout.css">
    </head>
    <body>
        <div id ="header">
            <h3>ancientIndia.com</h3>
        </div>

        <div id="navbar">
            <ul>
                <li>  <a href=""> Ramayan </a>  </li>
                <li>  <a href="fixLayout.html"> Mahabharata </a>  </li>
                <li>  <a href=""> Bhagwad Geeta </a>  </li>
                <li>  <a href=""> shiv Tandav </a>  </li>
            </ul>
        </div>
        <div class="sideRight">
            <h2>Contents</h2>
            <p>Bala kand</p>
            <p>Ayodhya Kand</p>
            <p>Aranya kand</p>
            <p>Sundara kanda</p>
        </div>
        <div class="sideRight">
            <h2>Contents</h2>
            <p>Bala kand</p>
            <p>Ayodhya Kand</p>
            <p>Aranya kand</p>
            <p>Sundara kanda</p>
        </div>
        <div>
            <img class="imageSideBar" src="rama.jpg" alt="">
        </div>
        <div class="main">
            <h1>Ramayana- The great epic</h1>
            <p>The epic, traditionally ascribed to the Maharishi Valmiki, narrates the life of Lord Rama, the legendary prince of the Kosala Kingdom. It follows his fourteen-year exile to the forest by his father King Dasharatha, on request of his step-mother Kaikeyi. His travels across forests in India with his wife Sita Ji and brother Lakshmana, the kidnapping of his wife by Ravana, the great king of Lanka, resulting in a war with him, and Ram's eventual return to Ayodhya to be crowned king. This is the culmination point of the epic. It's the most sacred book, and is read by millions of people's every year.</p>
            
            <h2>Characters</h2>
            <p>The names of the characters (Rama, Sita, Dasharatha, Janaka, Vashista, Vishwamitra) are all known only in the late Vedic literature.[citation needed] For instance, a king named Janaka appears in a lengthy dialogue in the Brihadaranyaka Upanishad with no reference to Rama or the Ramayana.[13] However, nowhere in the surviving Vedic poetry is there a story similar to the Ramayana of Valmiki. According to the modern academic view, Vishnu, who, according to Bala Kanda, was incarnated as Rama, first came into prominence with the epics themselves and further, during the puranic period of the later 1st millennium CE. Also, in the epic Mahabharata, there is a version of the Ramayana known as Ramopakhyana. This version is depicted as a narration to Yudhishthira.</p>
        
        </div>
        <div class="main">
            <h2>Period</h2>
            <p>In terms of narrative time, the action of the Ramayana predates the Mahabharata. However, the general cultural background of the Ramayana is one of the post-urbanization periods of the eastern part of north India, while the Mahabharata reflects the Kuru areas west of this, from the Rigvedic to the late Vedic period.</p>
            <h2>Rama</h2>
            <p>Rama is the main character of the tale. Portrayed as the seventh avatar of god Vishnu, he is the eldest and favourite son of Dasharatha, the king of Ayodhya and his Chief Queen, Kausalya. He is portrayed as the epitome of virtue. Dasharatha is forced by Kaikeyi to command Rama to relinquish his right to the throne for fourteen years and go into exile. </p>
            <h2>Sita</h2>
            <p>Sita (Vaidehi) is another of the tale's protagonists.She was the blood of sages who sacrificed their lives to develop the powerful force to get rid of earth from demons. This blood was collected in a pot and was buried in Earth, so She is called the daughter of Mother Earth, adopted by King Janaka, and Rama's beloved wife. Rama went to Mithila and got a chance to marry her by breaking the Shiv Dhanush (bow) while trying to tie a knot to it in a competition organized by King Janaka of Mithila.</p>
        </div>

        <div id="footer">
            <ul>
                <li>  <a href=""> About ancientIndia </a>  </li>
                <li>  <a href=""> Careers </a>  </li>
                <li>  <a href=""> Help </a>  </li>
                <li>  <a href=""> Contact Us </a>  </li>
            </ul>
            &copy: 2020 ancientIndia.com. All Rights Reserved
        </div>
    </body>
</html>